@use "../abstract/variaveis";
@use "../abstract/mixins";

#contatos {
  @include mixins.margin-center(80%);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  .contatos-imgs {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    img {
      width: 100%;
      &:nth-child(n + 2) {
        width: 45%;
      }
    }
  }
  .contatos-form {
    max-width: 50%;
    background: variaveis.$gradiente-primario;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 48px;
    border-radius: 48px;
    .titulo {
      @include mixins.ff-fs-color(
        variaveis.$ft-titulos,
        1.6rem,
        variaveis.$cor-secundaria
      );
    }
    .infos {
      @include mixins.ff-fs-color(
        variaveis.$ft-textos,
        1.3rem,
        variaveis.$cor-primaria
      );
      line-height: 33px;
      font-weight: 400;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 24px;
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        label {
          @include mixins.ff-fs-color(
            variaveis.$ft-textos,
            1.1rem,
            variaveis.$cor-primaria
          );
          font-weight: 600;
        }
        input {
          background: #ffffff99;
          padding: 16px;
          border-radius: 32px;
          outline: none;
          &::placeholder {
            @include mixins.ff-fs-color(
              variaveis.$ft-textos,
              0.9rem,
              variaveis.$cor-primaria
            );
            font-weight: 400;
            color: #5d586c;
          }
        }

        &:nth-child(n + 3) {
          height: 120px;
        }
      }
      .btn {
        @include mixins.ff-fs-color(variaveis.$ft-textos, 1.3rem, #ffffff);
        background: variaveis.$cor-secundaria;
        border: none;
        border-radius: 40px;
        padding: 24px;
        cursor: pointer;
      }
    }
  }
}
