@use "../abstract/variaveis";

@use "../abstract/mixins";

#servico {
  background: variaveis.$gradiente-primario;
  padding: 5rem 0;
  .cards {
    @include mixins.margin-center(80%);
    display: flex;
    gap: 1.5rem;
    .card {
      background: variaveis.$gradiente-secundario;
      padding: 1rem 1.5rem;
      border-radius: 32px;
      text-align: center;
      border: 2px solid #ffffff;
      &-titulo {
        @include mixins.ff-fs-color(
          variaveis.$ft-titulos,
          1.6rem,
          variaveis.$cor-primaria
        );
      }
      &-texto {
        @include mixins.ff-fs-color(
          variaveis.$ft-textos,
          1.2rem,
          variaveis.$cor-primaria
        );
      }
    }
  }
}
